* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: relative;
  z-index: 1000;
  background-color: #263c4a;
}

h1 {
  font-size: 2.25rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  text-decoration: none;
  list-style-type: none;
}

nav {
  position: relative;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  background: white;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 15px;
  border-radius: 6px;
  z-index: 100;
}

.menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + label + nav .nav-links {
  display: flex;
}

.hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: auto;
  z-index: 101;
}

/*  ---------- HERO SECTION ---------- */
.hero-section {
  text-align: center;
}

.hero-img {
  height: 300px;
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  margin: 2rem 0;
}

.hero-description {
  font-size: 1.2rem;
}

/*  ---------- WHAT DO I HELP SECTION ---------- */
.skills-header {
  font-size: 1.8rem;
  margin: 0 0 1rem 1rem;
}

.skills-description {
  margin: 1rem;
  font-size: 1.2rem;
}

.numbers-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-left: 1rem;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.numbers p {
  font-size: 2rem;
  font-weight: 700;
}

.numbers h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.box {
  display: flex;
  justify-items: center;
  align-items: center;
  border: 2px solid #263c4a;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.box-header {
  font-size: 1.5rem;
}

.box-subheader {
  font-size: 1.1rem;
}

.box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box-icon {
  padding: 1rem;
  font-size: 1.75rem;
}
