@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: relative;
  z-index: 1000;
  background-color: #263c4a;
}

h1 {
  font-size: 2.25rem;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  text-decoration: none;
  list-style-type: none;
}

nav {
  position: relative;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  background: white;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 15px;
  border-radius: 6px;
  z-index: 100;
}

.menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + label + nav .nav-links {
  display: flex;
}

.hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: auto;
  z-index: 101;
}

/*  ---------- HERO SECTION ---------- */
.hero-section {
  text-align: center;

  padding: 2rem 1rem;
  padding-bottom: 1rem;
}

.hero-img {
  height: 300px;
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  margin: 2rem 0;
}

.hero-description {
  font-size: 1.2rem;
}

/*  ---------- WHAT DO I HELP SECTION ---------- */
.skills-header {
  font-size: 1.8rem;
  margin: 0 0 1rem 1rem;
}

.skills-description {
  margin: 0 1rem 3rem 1rem;
  font-size: 1.2rem;
}

.numbers-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.numbers p {
  font-size: 2rem;
  font-weight: 700;
}

.numbers h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.box {
  display: flex;
  justify-items: center;
  align-items: center;
  border: 2px solid #263c4a;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 6px 6px 4px 0px;
}

.box:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.box-header {
  font-size: 1.5rem;
}

.box-subheader {
  font-size: 1.1rem;
}

.box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box-icon {
  padding: 1rem;
  font-size: 1.75rem;
}

/* PROJECTS SECTION */

.card-container {
  margin-top: 5rem;
}

.card {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid rgb(65, 65, 65);
  overflow: hidden;
}

.card-header {
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.card-body {
  padding: 1rem;
}

.bakery-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.project-btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 1.3rem;
  padding: 0.8rem 2rem;
  border: 3px solid rgb(65, 65, 65);
  border-radius: 10px;
  box-shadow: 4px 6px 3px 0;
}

.project-btn:hover {
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}

.proj-description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
